@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

$darkBlue: hsl(240, 38%, 20%);
$grayishBlue: hsl(240, 18%, 77%);

$fontSize: 32px;

$fFamily: 'Inter', sans-serif;

$fweightThin: 300;
$fweightRegular: 500;
$fweightBold: 700;